name: Use the standard Python library to parse RSS Feeds

on:
  workflow_dispatch:
  schedule:
    - cron:  '7 */12 * * *'
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Commit and push if it changed
      run: |
        wget -O npr.xml https://feeds.npr.org/1001/rss.xml
        wget -O arstechnica.xml https://feeds.arstechnica.com/arstechnica/index
        wget -O buffalowgrznews.xml https://www.wgrz.com/feeds/syndication/rss/news/local
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
